<!DOCTYPE html>
<html>
  <head>
    <style>
      .list-heading {
        color: mediumvioletred;
      }
      
      .switch-sort {
        color: magenta;
      }
    </style>
  </head>

  <body>
    <h3 class="list-heading">List of files in public directory:</h3>

    <ul>
      <% @files.each do |file| %>
        <li>
          <a href="/<%= file %>"><%= File.basename(file, ".*") %></a>
        </li>
      <% end %>
    </ul>
    
    <h4><a class="switch-sort" href="<%= @sort_path %>"><%= @sort_name %></a></h4>
  </body>
</html>